/*---Base---*/

/*------------------------Mixins-----------------------*/

// Breakpoints

// 1200px
@mixin bp-desktop {
  @media only screen and (max-width: 75em) {
    @content;
  }
}

// 1024px
@mixin bp-tablet {
  @media only screen and (max-width: 64em) {
    @content;
  }
}

// 768px
@mixin bp-mobile {
  @media only screen and (max-width: 48em) {
    @content;
  }
}
 
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans");
 
.container {
  display: flex;
  @include bp-mobile {
    display: block;
  }
}
 
// .col {
//   padding-right: 0.9375rem;
//   padding-left: 0.9375rem;
// }
 
img {
  max-width: 100%;
  height: auto;
}

.main {
    .container {
        flex-direction: row;
        align-items: center;
    }
    .col {
        flex: 1;
    }
}
 
.card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px #eee;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", cursive;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
  @include bp-mobile {
    font-size: 28px;
  }
}

h2 {
  font-size: 32px;
  @include bp-mobile {
    font-size: 26px;
  }
}

h3 {
  font-size: 28px;
  @include bp-mobile {
    font-size: 22px;
  }
}
 
p,
ol,
ul,
a {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
