/*---Base---*/

/*------------------------Mixins-----------------------*/

// Breakpoints

// 1200px
@mixin bp-desktop {
  @media only screen and (max-width: 75em) {
    @content;
  }
}

// 1024px
@mixin bp-tablet {
  @media only screen and (max-width: 64em) {
    @content;
  }
}

// 768px
@mixin bp-mobile {
  @media only screen and (max-width: 48em) {
    @content;
  }
}
 
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans");

body {
  margin: 0px;
}
 
.container {
  display: flex;
  @include bp-mobile {
    display: block;
    text-align: center;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  background: #f9f9f9;
    .container {
        flex-direction: row;
        align-items: center;
    }
    .first-col {
      flex-grow: 1;
    }
    .second-col {
      flex-grow: 4;
    }
}
 
.card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px #eee;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", cursive;
  line-height: 1.6;
  color: #26a3b9 !important;
}

h1 {
  font-size: 36px;
  @include bp-mobile {
    font-size: 28px;
  }
}

h2 {
  font-size: 32px;
  @include bp-mobile {
    font-size: 26px;
  }
}

h3 {
  font-size: 28px;
  @include bp-mobile {
    font-size: 22px;
  }
}
 
p,
ol,
ul,
a {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #656565 !important;
}
