/*---Card-Overview---*/

.card-overview {
    padding: 15px;
    border-bottom: 1px solid #bfdcf5;
    transition: .2s;
    &:focus, &:hover {
        background: #bfdcf5;
        transform: translate3D(0,-5px,0);
        cursor: pointer;
        transition: .2s;
    }
    .col {
        flex: inherit;
        img {
            padding-right: 30px;
        }
    }
}